.sidebar-container {
  grid-area: sidebar;

  display: flex;
  flex-direction: column;
  gap: 30px;

  padding: 20px;

  background-color: var(--header-color);
  box-shadow: 2px 2px 5px var(--shadow-color);

  transform-origin: right;
  transition: 1s;
}

.sidebar-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar-container button {
  padding: 5px;
  text-align: left;
  font-size: 1.1rem;

  border-radius: 10px;
  border: none;

  color: var(--letter-color);
  background-color: var(--header-color);

  cursor: pointer;
  transition: background-color 300ms;
}

.sidebar-container button:hover {
  background-color: var(--mark-color);
}

/* quick-access */
.quick-access {
  color: var(--second-letter-color);
}

.quick-projects {
  display: flex;
  flex-direction: column;

  margin: 20px 0 0 20px;
}

/* source link */
.source-link {
  margin-top: auto;

  color: var(--second-letter-color);
  text-decoration: none;
}

.source-link:hover {
  color: var(--letter-color);
  text-decoration: underline;
}

/* animation */
.sidebar-hide {
  transform: translateX(-100px);
  opacity: 0;
}
