.tasks-container {
  position: relative;
  width: 50%;
}

.day-container .tasks-container,
.tasks-container .tasks-container {
  width: 100%;
}

.task-container {
  width: 100%;
  display: flex;
  gap: 20px;

  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
}

/* CHECKBOX */
.task-checkbox-button {
  height: 20px;
  width: 20px;
  align-self: center;

  color: var(--letter-color);
  border: 1px solid var(--letter-color);
  border-radius: 5px;

  background-color: var(--header-color);
  cursor: pointer;
}

.fa-check {
  opacity: 0;
  transition: opacity 300ms;
}

.task-checkbox-button:hover .fa-check {
  opacity: 1;
}

/* POINT */
.project-point {
  width: 12px;
  height: 12px;
  border-radius: 50px;
  align-self: center;
  background-color: var(--letter-color);
}

/* TITLE */
.task-title {
  font-size: 1.3rem;
  transition: 300ms;
}

.complete {
  text-decoration: line-through;
  opacity: 1;
}

/* FEATURES */
.task-project,
.task-date {
  font-size: 0.8rem;
  background-color: var(--header-color);
  padding: 5px;
  border-radius: 10px;
  align-items: center;
}

/* BUTTONS */
.project-quick-button,
.task-edit-button,
.task-delete-button {
  height: 20px;
  width: 20px;
  align-self: center;

  color: var(--letter-color);
  background-color: var(--background-color);
  border: none;

  border-radius: 5px;

  cursor: pointer;
  opacity: 0;
  transition: background-color 300ms;
}

.project-quick-button:hover,
.task-edit-button:hover,
.task-delete-button:hover {
  background-color: var(--mark-color);
}

.task-edit-button {
  margin-left: auto;
}

.task-container:hover > .task-edit-button,
.task-container:hover > .task-delete-button,
.task-container:hover > .project-quick-button {
  opacity: 1;
}

.quick-active {
  opacity: 1;
}

/* BLOCKER */
.blocker {
  position: absolute;

  width: 100%;
  height: 100%;
  z-index: 1;
}
