.task-menu-container {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 20px;
  border-radius: 20px;

  background-color: var(--header-color);

  z-index: 2;
}

.day-container .task-menu-container,
.tasks-container .task-menu-container {
  width: 100%;
}

/* NAME CONTAINER */
.new-task-name-container {
  display: flex;
  gap: 20px;
}

.new-task-name-container > input {
  flex: 0.8;

  color: var(--letter-color);
  background-color: var(--header-color);
  padding: 10px;

  font-size: 1.2rem;
}

.new-task-name-container .task-delete-button {
  background-color: var(--header-color);
  opacity: 1;
  margin-left: auto;
}

.new-task-name-container .task-delete-button:hover {
  background-color: var(--mark-color);
}

/* FEATURES CONTAINER */
.new-task-features-container {
  display: flex;
  gap: 20px;

  padding-bottom: 20px;
  border-bottom: 1px solid var(--mark-color);
}

.new-task-features-container > select,
.new-task-features-container > input {
  background-color: var(--header-color);
  color: var(--letter-color);
  padding: 3px;
  border-radius: 5px;
}

/* DESCRIPTION AREA */
.description-area {
  min-height: 100px;
  color: var(--letter-color);
  background-color: var(--header-color);

  font-size: 1.1rem;
  padding: 10px;

  resize: none;
}

/* BUTTONS CONTAINER */
.new-task-buttons-container {
  display: flex;
  gap: 20px;
  align-self: flex-end;
}
