:root {
  --background-color: #1f1f1f;
  --header-color: #262626;

  --letter-color: #eee;
  --second-letter-color: #999999;
  --mark-color: #444444;
  --shadow-color: #191919;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background-color);
  color: var(--letter-color);
  overflow-y: auto;
  overflow-x: hidden;
}

.page-container {
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 9fr;
  grid-template-rows: 1fr 15fr;
  grid-template-areas: "header header" "sidebar main";
}

.hide {
  display: none;
}

/* BUTTONS */
.delete-menu-container button,
.menu-buttons-container > button {
  padding: 10px;

  border: none;
  border-radius: 10px;

  background-color: var(--mark-color);
  color: var(--letter-color);

  cursor: pointer;
  transition: opacity 300ms;
}

.delete-menu-container button:hover,
.menu-buttons-container > button:hover {
  opacity: 0.6;
}

/* RESPONSIVE */
@media screen and (max-width: 1200px) {
  .page-container {
    grid-template-rows: 15fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "main" "sidebar";
  }

  .header-container {
    display: none;
  }

  .sidebar-buttons-container,
  .sidebar-container {
    flex-direction: row;
    justify-content: center;
  }

  .quick-access-container {
    display: none;
  }

  main {
    margin-left: auto;
    margin-right: auto;
  }

  .week-container {
    margin-left: 0;
    margin-right: 0;
    overflow-x: hidden;
  }

  .days-container {
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-columns: 1fr;
  }

  .elements-container {
    width: 100%;
  }

  .element-menu-container {
    width: 100%;
  }

  .project-quick-button,
  .element-edit-button,
  .element-delete-button {
    opacity: 1;
  }
}
