.week-container {
  margin: 50px 0 0 0;
  padding-left: 50px;
  overflow-x: auto;
}

.days-container {
  grid-template-columns: repeat(7, 500px);
  display: grid;
  gap: 100px;
}

.day-title {
  text-decoration: underline;
}
