.week-container {
  margin: 50px 0 0 0;
  padding-left: 50px;
  overflow-x: auto;
}

.days-container {
  grid-template-columns: repeat(7, 500px);
  display: grid;
  gap: 100px;
}

.day-title {
  text-decoration: underline;
}

/* SCROLL BAR */
body::-webkit-scrollbar,
.week-container::-webkit-scrollbar {
  height: 8px;
}

/* Track */
body::-webkit-scrollbar-track,
.week-container::-webkit-scrollbar-track {
  background: var(--mark-color);
}

/* Handle */
body::-webkit-scrollbar-thumb,
.week-container::-webkit-scrollbar-thumb {
  background: var(--second-letter-color);
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover,
.week-container::-webkit-scrollbar-thumb:hover {
  background: var(--letter-color);
}
